
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gps-logs-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/home/mcdev/GPS_logs"
  persistentVolumeReclaimPolicy: Retain

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gps-logs-pvc
  namespace: mdvr-stag
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mdvr-gps-deployment
  namespace: mdvr-stag
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mdvr-gps
  template:
    metadata:
      labels:
        app: mdvr-gps
    spec:
      containers:
      - name: mdvr-gps-container
        image: 9989228601/mdvr-gps_4040:8
        volumeMounts:
        - name: logs-volume
          mountPath: /usr/src/app/GPS_4040_logs
      volumes:
      - name: logs-volume
        persistentVolumeClaim:
          claimName: gps-logs-pvc
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 30
  revisionHistoryLimit: 3

---

apiVersion: v1
kind: Service
metadata:
  name: mdvr-gps-service
  namespace: mdvr-stag
spec:
  type: ClusterIP
  selector:
    app: mdvr-gps
  ports:
    - protocol: TCP
      port: 8012  # Example port number, replace with your actual port
      targetPort: 8012  # Example target port, replace with your actual target port

# ---

# apiVersion: v1
# kind: ResourceQuota
# metadata:
#   name: mdvr-gps-quota
#   namespace: mdvr-stag
# spec:
#   hard:
#     pods: "2"
#     requests.cpu: "100m"
#     requests.memory: "512Mi"
#     limits.cpu: "500m"
#     limits.memory: "1Gi"

# ---

# apiVersion: autoscaling/v2
# kind: HorizontalPodAutoscaler
# metadata:
#   name: mdvr-gps-hpa
#   namespace: mdvr-stag
# spec:
#   scaleTargetRef:
#     apiVersion: apps/v1
#     kind: Deployment
#     name: mdvr-gps-deployment
#   minReplicas: 1
#   maxReplicas: 3
#   metrics:
#   - type: Resource
#     resource:
#       name: cpu
#       target:
#         type: Utilization
#         averageUtilization: 50
